[submodule "src/x3cator_hardware/lidar_driver/rslidar_sdk"]
	path = src/x3cator_hardware/lidar_driver/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
	branch = main

[submodule "src/x3cator_hardware/lidar_driver/rslidar_msg"]
	path = src/x3cator_hardware/lidar_driver/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
	branch = master

[submodule "src/x3cator_hardware/lidar_driver/rs_to_velodyne"]
	path = src/x3cator_hardware/lidar_driver/rs_to_velodyne
	url = 	https://github.com/lss233/rs_to_velodyne.git
	branch = master